:host {
  .modal {
    min-height: 250px;
    width: 300px;
    .title {
      text-align: center;
      font-weight: 700;
      font-size: 18px;
    }
    .form {
      margin-top: 15px;
      .control-wrapper {
        margin-bottom: 15px;
        input, textarea {
          width: 100%;
        }
      }
    }
  }
}
